{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prefer-const": 0,
    "consistent-return": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "prettier/prettier": ["error"],
    "no-param-reassign": 0
  }
}
